.article-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #fff;
  background-image: url('../../../assets/images/article.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

.content-container {
  max-width: 1000px;
  color: #00553b;
}

.content-container h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 4rem;
  line-height: 1.2;

}

.content-container p {
  color: black;
  font-size: 1.25rem;
  line-height: 1.6;
  margin-left: 20px;
  position: relative;
  max-width: 1000px;
}

.content-container p::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: #00553b;
  position: absolute;
  left: -6px;
  top: 0;
}

.page-article {
  background: rgba(245, 245, 220, 1);
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

.container-content {
  max-width: 1000px;
  color: #00553b;
  margin-bottom: 20px;
}

.container-content h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 4rem;
  line-height: 1.2;
  margin-left: 20px;
}

.container-content p {
  color: black;
  font-size: 1.25rem;
  line-height: 1.1;
  margin-left: 20px;
  position: relative;
  max-width: 1497px;
}

